---
---
{% assign old_design = false %}

$font-code: Hack, Consolas, Menlo, Monaco, Inconsolata, 'Droid Sans Mono', 'Source Code Pro', 'Liberation Mono', 'Oxygen Mono', 'Andale Mono', "Fira Mono", "Lucida Console", monospace;
$font-copy: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$fork-color: midnightblue;
$fork-color: red;
$fork-color: crimson;

$color-base0: #4997d9;
$color-base1: #0974c5;
$color-base2: #095fa8;
$color-base3: #09397f;

//$color-base1: hsl(random(360), random(100), random(50));

$color-menu-bk: #fcfdff;
$color-menu-text: #666;
$color-menu-text-hover: #000;
$color-menu-text-drop-hover: $color-menu-bk;
$color-menu-text-drop-hover-bk: $color-base1;

$color-main: #000;
$color-a: $color-base1;
$color-a-hover: lighten($color-a, 25%);
$color-a-active: $color-a-hover;
$color-footer: #bbb;

$color-version: {% if site.fork %}#fff{% else %}#eee{% endif %};
$color-version-bk: {% if site.fork %}$fork-color{% else %}#015173{% endif %};

$color-bk-main: #fff;
$color-bk-border: #fff;
$color-bk-footer: #333;
$color-bk-tooltip: $color-bk-footer;
$color-bk-head-def: mix($color-menu-bk, $color-base1);
$color-bk-code: #f2f2f2;
$color-bk-box1: #f6f6ee;
$color-bk-box2: mix($color-bk-main, $color-base1, 91%);
$color-bk-boxs: darken(gold, 2%);

$color-warn: #c00000;
$color-gold: #ffd700;
$color-icons: #444;

$color-donate-reverse: #fff;
$color-donate-normal: $fork-color;

$header-border: 0;  /* 3px */
$header-height: 100px;
$content-width: 738px;
$content-fill: 700px;

.banner {
  position: absolute;
  background-color: $color-bk-head-def;
  background-image: radial-gradient(ellipse farthest-side at left bottom, $color-menu-bk 0%, lighten($color-base1, 20%) 40%, $color-base1 115%);
  font-size: 14px;
  height: $header-height;
  width: $content-width;
  width: 100%;
  border-top: $header-border solid $color-bk-boxs;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.sidenav {

  height: 100%;
  width: 200;
  position: fixed;
  z-index: 1;
  top: 101;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}


.right_main {
  margin-left: 210px;
  /* Same width as the sidebar + left position in px */
  /* font-size: 28px; */
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
     padding-top: 15px;
  }

  .sidenav a {
     font-size: 18px;
  }
}
@media (prefers-reduced-motion) {
  .header-text:hover .header-version {
    animation: none;
  }
}
