<body>


  <!-- <div class="header">
    <h1><img src="https://xharbourcom.github.io/vxh-docs/favicon.ico" alt="xHarbour.com Logo" align="middle" hspace="20">{% if page.title %}Visual [x]Harbour · {{ page.title }}{% else %}Visual [x]Harbour{% endif %}</h1>
  </div> -->


  <header class="page-header" role="banner">
    <h1 class="project-name"><img src="favicon.ico" height="42" width="42" hspace=15>{% if page.title %}Visual [x]Harbour · {{ page.title }}{% else %}Visual [x]Harbour{% endif %}</h1>
    <!-- <h1 class="project-name"><img src="favicon.ico" height="42" width="42" hspace=15>{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
  </header>

  <main id="content" class="main-content" role="main">


  <!-- <main> -->