<body>

<header>
  <div class="banner">
    <!-- <div class="header-version header-version-narrow" dir="ltr">&lrm;{{ site.short_version }}</div> -->
    <div class="header-logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/xHarbourCom.svg" alt="xHarbour.com Logo" height="122">
      </a>
    </div>
    <div class="header-text">
       <div class="header-text-content">
         <span class="header-text-headline">{% if page.title %}Visual [x]Harbour · {{ page.title }}{% else %}Visual [x]Harbour{% endif %}</span><br>
       </div>
    </div>
  </div>

</header>

<!-- <main> -->
