<!DOCTYPE html>
<html lang="en">

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#157878">
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

   <title>{% if page.title %}Visual [x]Harbour · {{ page.title }}{% else %}Visual [x]Harbour{% endif %}</title>

   <link rel="shortcut icon" type="image/x-icon" href="https://xharbourcom.github.io/vxh-docs/favicon.ico">
   <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">


</head>
